nav{
    min-height: 10vh;
    width: 100%;
    @include flex(row, space-between, center);
    position: relative;
}

.navbar-logo,
.navbar-middle,
.navbar-actions{
    flex: 1;
    @include flex(row, space-between, center);
}

.navbar-burger{
    display: none;
}

.navbar-logo{
    @include flex(row, center, center);
}

.navbar-middle{
    li, a{
        color: $black;
    }
}

.navbar-actions{
    @include flex(row, center, center);
}

@media only screen and (max-width: 768px){
    .navbar-burger{
        display: inline-block;
        flex: 1;
        @include flex(row, center, center);
    }

    .navbar-middle{
        position: absolute;
        top: calc(10vh);
        left: 0;
        width: 100%;
        height: 90vh;
        @include flex(column, space-evenly, center);
        background: $green;
        transform: translateX(100%);
        transition: $transition;
        &.active{
            transform: translateX(0%);
        }
        li, a{
            color: $white;
        }
    }
}